<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="shopping-list">
        <h1>{{header.toLocaleUpperCase()}}</h1> 
        <input type="text" v-model="newItem" placeholder="Add an item">
        <ul>
            <li v-for="item in itens">{{item}}</li>
        </ul>
        <!-- <h1>{{header ? header : 'Welcome'}}</h1>  -->
        <!-- foi utilizado um operador ternario, onde será verificado se o header está vazio,
            caso nao esteja, aparecerá "welcome" no h1 -->
        <!-- <input type="text" v-model="header"> 
        A prop "v-model" altera o valor do header--> 
    </div>
    <script>
        var shoppingList = new Vue({
            el: '#shopping-list',
            data: {
                header: "Shopping List App",
                newItem: '', 
                itens: [
                    '10 party hats',
                    '2 board games',
                    '20 cups',
                ]
            }
        })
    </script>
</body>

</html>